.advantages {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    background-color: rgba(255, 255, 255, 1.0);
    padding-top: 2rem;
    padding-bottom: 2rem;
}
@media (max-width: 1280px) {
    .advantages {
        padding-top: calc(1rem + (2 - 1) * ((100vw - 20rem) / (80 - 20)));
        padding-bottom: calc(1rem + (2 - 1) * ((100vw - 20rem) / (80 - 20)));
    }
}

.advantage {
    width: 100%;
    padding: 2.66rem 2.66rem 2rem 2.66rem;
    border-left: 1px solid rgba(255, 255, 255, .66);
    border-right: 1px solid rgba(255, 255, 255, .66);
    background-color: rgba(255, 255, 255, 1);
    color: white;
}
@media (max-width: 900px) {
    .advantage {
        width: 100%;
        padding: calc(1.66rem + (2.66 - 1.66) * ((100vw - 20rem) / (80 - 20)))
        calc(1.66rem + (2.66 - 1.66) * ((100vw - 20rem) / (80 - 20)))
        calc(1rem + (2 - 1) * ((100vw - 20rem) / (80 - 20)))
        calc(1.66rem + (2.66 - 1.66) * ((100vw - 20rem) / (80 - 20)));
    }
}

.advantage h3 {
    color: rgba(0, 60, 60, 1.0);
    font-size: 1.66rem;
    padding-bottom: 1rem;
}
@media (max-width: 1280px) {
    .advantage h3 {
        font-size: calc(1.33rem + (1.66 - 1.33) * ((100vw - 20rem) / (80 - 20)));
        padding-bottom: calc(.66rem + (1 - .66) * ((100vw - 20rem) / (80 - 20)));
    }
}

.advantage a {
    color: rgba(255, 255, 255, .8);
    text-decoration: none;
    position: relative;
}

.advantage a p {
    font-size: 1.1rem;
    line-height: 1.5rem;
    padding: 1rem;
    position: relative;
    z-index: 1;
    transition: .5s;
    color: rgba(0, 60, 60, 1);
}
@media (max-width: 1280px) {
    .advantage a p {
        font-size: calc(.9rem + (1.1 - .9) * ((100vw - 20rem) / (80 - 20)));
        line-height: calc(1.1rem + (1.5 - 1.1) * ((100vw - 20rem) / (80 - 20)));
        padding: calc(.4rem + (1 - .4) * ((100vw - 20rem) / (80 - 20)));
    }
}

.advantage a p:after {
    content: '';
    position: absolute;
    top: -.33rem;
    left: -.5rem;
    right: -.5rem;
    bottom: -.2rem;
    background: rgba(0, 60, 60, .1);
    opacity: 0;
    transition: all .5s ease;
    transform: scale(.95);
    z-index: -1;
    border-left: 2px solid rgba(0, 60, 60, 0);
}

.advantage a.effect-4 {
    display: inline-block;
    overflow: hidden;
}

.service-1 {
    background-color: rgba(0, 60, 60, 1.0);
}

.service-2 {
    background-color: rgba(0, 60, 60, .9);
}

.service-3 {
    background-color: rgba(0, 60, 60, .8);
}

.service-4 {
    background-color: rgba(0, 60, 60, .7);
}

.advantage a p img {
    width: 1rem;
    opacity: .8;
}

.advantage a p:hover:after {
    transform: scale(1);
    opacity: 1;
    border-left: 2px solid rgba(0, 60, 60, 1);
}

.advantage a p:hover {
    color: rgba(0, 60, 60, 1);
}