.pcss3t {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    font-size: 0;
    text-align: left;
}
.pcss3t > input {
    position: absolute;
    left: -9999px;
}
.pcss3t > label {
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    cursor: pointer;
    transition: all 0.1s;
}
.pcss3t > input:checked + label {
    cursor: default;
}
.pcss3t > ul {
    list-style: none;
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    font-size: 1rem;
}
.pcss3t > ul > li {
    position: absolute;
    width: 100%;
    overflow: auto;
    padding: 2rem 3rem 3rem;
    box-sizing: border-box;
    opacity: 0;
    transition: all 0.5s;
}

@media (max-width: 1280px) {
    .pcss3t > ul > li {
        padding:
                calc(1rem + (2 - 1) * ((100vw - 20rem) / (80 - 20)))
                calc(1rem + (3 - 1) * ((100vw - 20rem) / (80 - 20)))
                calc(1rem + (3 - 1) * ((100vw - 20rem) / (80 - 20)));
    }
}

.pcss3t > .tab-content-first:checked ~ ul .tab-content-first,
.pcss3t > .tab-content-2:checked ~ ul .tab-content-2,
.pcss3t > .tab-content-3:checked ~ ul .tab-content-3,
.pcss3t > .tab-content-4:checked ~ ul .tab-content-4,
.pcss3t > .tab-content-5:checked ~ ul .tab-content-5,
.pcss3t > .tab-content-6:checked ~ ul .tab-content-6,
.pcss3t > .tab-content-7:checked ~ ul .tab-content-7,
.pcss3t > .tab-content-8:checked ~ ul .tab-content-8,
.pcss3t > .tab-content-9:checked ~ ul .tab-content-9,
.pcss3t > .tab-content-last:checked ~ ul .tab-content-last {
    z-index: 1;
    top: 0;
    left: 0;
    opacity: 1;
    transform: scale(1,1) rotate(0deg);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .2);
}


/*----------------------------------------------------------------------------*/
/*                                 EXTENSIONS                                 */
/*----------------------------------------------------------------------------*/

/**/
/* auto height */
/**/
.pcss3t-height-auto > ul {
    height: auto !important;
}
.pcss3t-height-auto > ul > li {
    position: static;
    display: none;
    height: auto !important;
}
.pcss3t-height-auto > .tab-content-first:checked ~ ul .tab-content-first,
.pcss3t-height-auto > .tab-content-2:checked ~ ul .tab-content-2,
.pcss3t-height-auto > .tab-content-3:checked ~ ul .tab-content-3,
.pcss3t-height-auto > .tab-content-4:checked ~ ul .tab-content-4,
.pcss3t-height-auto > .tab-content-5:checked ~ ul .tab-content-5,
.pcss3t-height-auto > .tab-content-last:checked ~ ul .tab-content-last {
    display: block;
}


/**/
/* grid */
/**/
.pcss3t .grid-row {
    margin-top: 20px;
}
.pcss3t .grid-row:after {
    content: '';
    display: table;
    clear: both;
}
.pcss3t .grid-row:first-child {
    margin-top: 0;
}
.pcss3t .grid-col {
    display: block;
    float: left;
    margin-left: 2%;
}
.pcss3t .grid-col:first-child {
    margin-left: 0;
}
.pcss3t .grid-col .inner {
    padding: 10px 0;
    background: #f2f2f2;
    text-align: center;
}
.pcss3t .grid-col-1 {
    width: 15%;
}
.pcss3t .grid-col-2 {
    width: 32%;
}
.pcss3t .grid-col-3 {
    width: 49%;
}
.pcss3t .grid-col-4 {
    width: 66%;
}
.pcss3t .grid-col-5 {
    width: 83%;
}
.pcss3t .grid-col-offset-1 {
    margin-left: 19%;
}
.pcss3t .grid-col-offset-1:first-child  {
    margin-left: 17%;
}
.pcss3t .grid-col-offset-2 {
    margin-left: 36%;
}
.pcss3t .grid-col-offset-2:first-child {
    margin-left: 34%;
}
.pcss3t .grid-col-offset-3 {
    margin-left: 53%;
}
.pcss3t .grid-col-offset-3:first-child {
    margin-left: 51%;
}
.pcss3t .grid-col-offset-4 {
    margin-left: 70%;
}
.pcss3t .grid-col-offset-4:first-child {
    margin-left: 68%;
}
.pcss3t .grid-col-offset-5:first-child {
    margin-left: 85%;
}


/**/
/* typography */
/**/
.pcss3t .typography {
    color: #666;
}
.pcss3t .typography h1,
.pcss3t .typography h2,
.pcss3t .typography h3,
.pcss3t .typography h4,
.pcss3t .typography h5,
.pcss3t .typography h6 {
    margin: 40px 0 0 0;
    padding: 0;
    text-align: left;
    color: rgba(80, 80, 80, 1);
}
.pcss3t .typography h1 {
    font-size: 1.66rem;
    line-height: 2.5rem;
}

@media (max-width: 1280px) {
    .pcss3t .typography h1 {
        font-size: calc(1.2rem + (1.66 - 1.2) * ((100vw - 20rem) / (80 - 20)));
        line-height: calc(1.33rem + (2.5 - 1.33) * ((100vw - 20rem) / (80 - 20)));
    }
}

.pcss3t .typography h2 {
    font-size: 32px;
    line-height: 48px;
    text-shadow: 2px 2px rgba(0,0,0,0.1);
}
.pcss3t .typography h3 {
    font-size: 26px;
    line-height: 38px;
    text-shadow: 1px 1px rgba(0,0,0,0.1);
}
.pcss3t .typography h4 {
    font-size: 20px;
    line-height: 30px;
}
.pcss3t .typography h5 {
    font-size: 15px;
    line-height: 23px;
    text-transform: uppercase;
}
.pcss3t .typography h6 {
    font-size: 13px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
}
.pcss3t .typography p {
    margin: 1rem 0 0 0;
    padding: 0;
    line-height: 1.5rem;
    text-align: left;
    font-size: 1rem;
}

@media (max-width: 1280px) {
    .pcss3t .typography p {
        font-size: calc(.9rem + (1 - .9) * ((100vw - 20rem) / (80 - 20)));
        line-height: calc(1.1rem + (1.5 - 1.1) * ((100vw - 20rem) / (80 - 20)));
        margin-top: calc(.33rem + (1 - .33) * ((100vw - 20rem) / (80 - 20)));
    }
}

.pcss3t .typography ul,
.pcss3t .typography ol {
    list-style: none;
    margin: 1rem 0 0 0;
    padding: 0;
}
.pcss3t .typography li {
    position: relative;
    margin-top: .33rem;
    padding-left: 1rem;
}
.pcss3t .typography li ul,
.pcss3t .typography li ol {
    margin-top: .33rem;
}
.pcss3t .typography ul li:before {
    content: '';
    position: absolute;
    top: .5rem;
    left: 0;
    width: 6px;
    height: 4px;
    background: #404040;
}
.pcss3t .typography ol {
    counter-reset: list1;
}
.pcss3t .typography ol > li:before {
    counter-increment:list1;
    content: counter(list1)'.';
    position: absolute;
    top: 0;
    left: 0;
}
.pcss3t .typography a {
    text-decoration: underline;
    color: #1889e6;
}
.pcss3t .typography a:hover {
    text-decoration: none;
}
.pcss3t .typography .pic {
    padding: 4px;
    border: 1px dotted #ccc;
}
.pcss3t .typography .pic img {
    display: block;
}
.pcss3t .typography .pic-right {
    float: right;
    margin: 0 0 10px 20px;
}
.pcss3t .typography .link {
    text-decoration: underline;
    color: #1889e6;
    cursor: pointer;
}
.pcss3t .typography .link:hover {
    text-decoration: none;
}
.pcss3t .typography h1:first-child,
.pcss3t .typography h2:first-child,
.pcss3t .typography h3:first-child,
.pcss3t .typography h4:first-child,
.pcss3t .typography h5:first-child,
.pcss3t .typography h6:first-child,
.pcss3t .typography p:first-child {
    margin-top: 0;
}
.pcss3t .typography .text-center {
    text-align: center;
}
.pcss3t .typography .text-right {
    text-align: right;
}


/**/
/* steps */
/**/
.pcss3t-steps > label {
    cursor: default;
}


/**/
/* animation effects */
/**/
.pcss3t-effect-scale > ul > li {
    -webkit-transform: scale(0.1,0.1);
}
.pcss3t-effect-rotate  > ul > li {
    -webkit-transform: rotate(180deg);
}
.pcss3t-effect-slide-top > ul > li {
    top: -40px;
}
.pcss3t-effect-slide-right > ul > li {
    left: 80px;
}
.pcss3t-effect-slide-bottom > ul > li {
    top: 40px;
}
.pcss3t-effect-slide-left > ul > li {
    left: -80px;
}



/*----------------------------------------------------------------------------*/
/*                                   LAYOUTS                                  */
/*----------------------------------------------------------------------------*/

/**/
/* top right */
/**/
.pcss3t-layout-top-right {
    text-align: right;
}


/**/
/* top center */
/**/
.pcss3t-layout-top-center {
    text-align: center;
}


/**/
/* top combi */
/**/
.pcss3t > .right {
    float: right;
}



/*----------------------------------------------------------------------------*/
/*                                    ICONS                                   */
/*----------------------------------------------------------------------------*/

/**/
/* icons positions */
/**/
.pcss3t-icons-top > label {
    text-align: center;
}
.pcss3t-icons-top > label i {
    float: none;
    margin: 0 auto -10px;
    padding-top: 17px;
    font-size: 23px;
    line-height: 23px;
    text-align: center;
}
.pcss3t-icons-right > label i {
    float: right;
    margin: 0 -2px 0 8px;
}
.pcss3t-icons-bottom > label {
    text-align: center;
}
.pcss3t-icons-bottom > label i {
    float: none;
    margin: -10px auto 0;
    padding-bottom: 17px;
    font-size: 23px;
    line-height: 23px;
    text-align: center;
}
.pcss3t-icons-only > label i {
    float: none;
    margin: 0 auto;
    font-size: 23px;
}






/*----------------------------------------------------------------------------*/
/*                               RESPONSIVENESS                               */
/*----------------------------------------------------------------------------*/

/**/
/* pad */
/**/
@media screen and (max-width: 980px) {

}


/**/
/* phone */
/**/
@media screen and (max-width: 767px) {
    .pcss3t > label {
        /*display: block;*/
    }
    .pcss3t > .right {
        float: none;
    }
}



/*----------------------------------------------------------------------------*/
/*                                   THEMES                                   */
/*----------------------------------------------------------------------------*/

/**/
/* default */
/**/
.pcss3t > label {
    padding: .33rem 1.2rem .66rem 1.2rem;
    background: #e5e5e5;
    font-size: 1.2rem;
}

@media (max-width: 1280px) {
    .pcss3t > label {
        padding:
                .33rem
                calc(.66rem + (1.2 - .66) * ((100vw - 20rem) / (80 - 20)))
                .66rem
                calc(.66rem + (1.2 - .66) * ((100vw - 20rem) / (80 - 20)));
    }
}

.pcss3t > label:hover {
    background: #f2f2f2;
}
.pcss3t > input:checked + label {
    background: #fff;
}
.pcss3t > ul {
    background: #fff;
    text-align: left;
}
.pcss3t-steps > label:hover {
    background: #e5e5e5;
}


/**/
/* theme 1 */
/**/
.pcss3t-theme-1 > label {
    margin: 0 .66rem .66rem 0;
    background: #fff;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .2);
    color: rgba(80, 80, 80, 1);
    opacity: .8;
}

@media (max-width: 1280px) {
    .pcss3t-theme-1 > label {
        margin-left: calc(.2rem + (.66 - .33) * ((100vw - 20rem) / (80 - 20)));
        margin-right: calc(.2rem + (.66 - .33) * ((100vw - 20rem) / (80 - 20)));
    }
}

.pcss3t-theme-1 > label:hover {
    background: #fff;
    opacity: 1;
}
.pcss3t-theme-1 > input:checked + label {
    margin-bottom: 0;
    background-color: #f2f2f2;
    color: #1F5BFF;
    opacity: 1;
}
.pcss3t-theme-1 > ul {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .2);
}

/*----------------------------------------------------------------------------*/
/*                               CUSTOMIZATION                                */
/*----------------------------------------------------------------------------*/

/**/
/* height */
/**/
.pcss3t > ul,
.pcss3t > ul > li {
    height: 12.5rem;
}

.tab__img {
    width: 3.66rem;
    padding: .66rem .5rem .5rem .5rem;
}

@media (max-width: 1280px) {
    .tab__img {
        width: calc(1.66rem + (3.66 - 1.66) * ((100vw - 20rem) / (80 - 20)));
        padding:
                calc(.2rem + (.66 - .2) * ((100vw - 20rem) / (80 - 20)))
                calc(0rem + (.5 - 0) * ((100vw - 20rem) / (80 - 20)))
                calc(0rem + (.5 - 0) * ((100vw - 20rem) / (80 - 20)))
                calc(0rem + (.5 - 0) * ((100vw - 20rem) / (80 - 20)))
    }
}

.tab-content__img img {
    width: 100%;
}

