.footer {
    width: 100%;
    background-color: black;
    padding: 2rem 2rem 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
@media (max-width: 1280px) {
    .footer {
        padding: calc(1.5rem + (2 - 1.5) * ((100vw - 20rem) / (80 - 20)))
        calc(1rem + (2 - 1) * ((100vw - 20rem) / (80 - 20)))
        calc(.33rem + (1 - .33) * ((100vw - 20rem) / (80 - 20)))
        calc(1rem + (2 - 1) * ((100vw - 20rem) / (80 - 20)));
    }
}

.footer__item {
    width: 33.33%;
    padding: 0;
    text-align: center;
}
@media (max-width: 800px) {
    .footer__item {
        width: 100%;
        margin-bottom: .33rem;
    }
}

.footer__item-logo {
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
    padding-left: 0;
}
@media (max-width: 800px) {
    .footer__item-logo {
        justify-content: center;
    }
}

.footer__item-logo h1 {
    font-size: 1.33rem;
    font-weight: 300;
    color: rgba(255, 255, 255, .8);
    text-align: left;
    line-height: 1.2rem;
}
@media (max-width: 1280px) {
    .footer__item-logo h1 {
        font-size: calc(.8rem + (1.33 - .8) * ((100vw - 20rem) / (80 - 20)));
        line-height: calc(.8rem + (1.2 - .8) * ((100vw - 20rem) / (80 - 20)));
    }
}

.footer__item-logo h2 {
    font-size: 3rem;
    font-weight: 600;
    color: rgba(255, 255, 255, .8);
    line-height: 3rem;
    text-transform: uppercase;
    margin-left: .5rem;
}
@media (max-width: 1280px) {
    .footer__item-logo h2 {
        font-size: calc(2rem + (3 - 2) * ((100vw - 20rem) / (80 - 20)));
        line-height: calc(2rem + (3 - 2) * ((100vw - 20rem) / (80 - 20)));
    }
}

.location h5 {
    font-size: 1.1rem;
    color: rgba(255, 255, 255, .8);
    text-align: center;
    font-weight: 400;
    margin-bottom: .5rem;
}
@media (max-width: 1280px) {
    .location h5 {
        font-size: calc(.9rem + (1.1 - .9) * ((100vw - 20rem) / (80 - 20)));
        margin-bottom: calc(.33rem + (.5 - .33) * ((100vw - 20rem) / (80 - 20)));
    }
}

.footer__item-socnet {
    text-align: right;
    padding-right: 0;
}
@media (max-width: 800px) {
    .footer__item-socnet {
        text-align: center;
    }
}

.footer__item div {
    display: inline-block;
    margin-left: .5rem;
}

.footer__item img {
    width: 2.33rem;
    padding: .33rem;
    cursor: pointer;
    transition: .5s;
    opacity: .8;
}
@media (max-width: 1280px) {
    .footer__item img {
        width: calc(1.8rem + (2.33 - 1.8) * ((100vw - 20rem) / (80 - 20)));
    }
}

.footer__item img:hover {
    opacity: 1;
}
