/*** HEADER ***/
header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    background-color: rgba(0, 0, 0, 1.0);
    padding-left: 1rem;
}
@media (max-width: 660px) {
    header {
        padding-left: 0;
    }
}

.logo {
    width: 33%;
    background-color: rgba(0, 0, 0, 1.0);
    text-align: center;
    display: flex;
    align-items: center;
    text-decoration: none;
}
@media (max-width: 660px) {
    .logo {
        width: 100%;
        padding: .5rem;
        text-align: center;
        justify-content: center;
    }
}

.logo__img {
    margin-right: .5rem;
    padding-top: .5rem;
}
@media (max-width: 1280px) {
    .logo__img {
        margin-right: calc(0rem + (.5 - 0) * ((100vw - 20rem) / (80 - 20)));
    }
}

.logo__img img {
    width: 90%;
}
@media (max-width: 660px) {
    .logo__img img {
        width: 69%;
    }
}

.logo__txt {
    font-family: 'Roboto Condensed', sans-serif;
    display: flex;
    justify-content: left;
    align-items: center;
}
@media (max-width: 660px) {
    .logo__txt {

    }
}

.logo__txt h1 {
    font-size: 1.33rem;
    font-weight: 300;
    color: rgba(255, 255, 255, 1.0);
    text-align: left;
    line-height: 1.2rem;
}
@media (max-width: 1280px) {
    .logo__txt h1 {
        font-size: calc(1rem + (1.33 - 1) * ((100vw - 20rem) / (80 - 20)));
        line-height: calc(1rem + (1.2 - 1) * ((100vw - 20rem) / (80 - 20)));
    }
}

.logo__txt h2 {
    font-size: 3rem;
    font-weight: 600;
    color: rgba(255, 255, 255, 1.0);
    line-height: 3rem;
    text-transform: uppercase;
    margin-left: .5rem;
}
@media (max-width: 1280px) {
    .logo__txt h2 {
        font-size: calc(2.2rem + (3 - 2.2) * ((100vw - 20rem) / (80 - 20)));
        margin-left: calc(.2rem + (.5 - .2) * ((100vw - 20rem) / (80 - 20)));
    }
}

nav {
    width: 66%;
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
}
@media (max-width: 800px) {
    nav {
        width: 60%;
    }
}
@media (max-width: 660px) {
    nav {
        width: 100%;
    }
}

nav li {
    position: relative;
    text-align: center;
    width: 25%;
}

nav li a {
    text-decoration: none;
    color: rgba(255, 255, 255, 1.0);
    text-transform: uppercase;
    font-size: 1.1rem;
    letter-spacing: .5px;
    font-weight: 600;
    transition: .6s;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 1.8rem;
    width: 100%;
    display: block;
}
@media (max-width: 1280px) {
    nav li a {
        font-size: calc(.66rem + (1.1 - .66) * ((100vw - 20rem) / (80 - 20)));
        padding-top: calc(1rem + (2 - 1) * ((100vw - 20rem) / (80 - 20)));
        padding-bottom: calc(.8rem + (1.8 - .8) * ((100vw - 20rem) / (80 - 20)));
    }
}

nav li a:hover {
    color: rgba(0, 255, 255, .8);
}

nav li:after {
    position: absolute;
    content: '';
    width: 100%;
    left: 0;
    bottom: 95%;
    height: 5%;
    background-color: rgba(197, 239, 247, 1.0);
    transition: .4s;
    text-align: center;
}

nav li:hover:after {
    width: 100%;
    left: 0;
}

.menu-item {
    box-sizing: border-box;
    border-left: 1px solid rgba(255, 255, 255, .2);
    position: relative;
    overflow: hidden;
    transition: .6s;
}

.menu-item:after {
    position: absolute;
    content: '';
    transition: .6s;
    height: 5%;
    background-color: rgba(0, 255, 255, .4);
    left: 0;
    bottom: auto;
    top: 0;
    width: 100%;
}

.menu-item:hover:after {
    width: 100%;
    left: 0;
    top: calc(95%);
}

.menu-item:first-child {
    margin-left: 0;
}

.menu-item-1, .mobile-item-5 {
    background-color: #003C3C;
}

.menu-item-2, .mobile-item-4 {
    background-color: #194F4F;
}

.menu-item-3, .mobile-item-3 {
    background-color: #336363;
}

.menu-item-4, .mobile-item-2 {
    background-color: #194F4F;
}

.menu-item-5, .mobile-item-1 {
    background-color: #4C7676;
}

.menu-item__active a {
    color: rgba(0, 255, 255, .8);
    cursor: default;
}

.menu-item__active:after {
    width: 100%;
    left: 0;
    top: calc(95%);
}