*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Adobe Clean Reg', sans-serif;
    font-size: 18px;
    font-weight: 400;
    background-color: rgba(250, 250, 250, 1.0);
    background-image: url(../images/bg.jpg);
}

.wrapper {
    max-width: 1280px;
    padding: 0;
    margin: 0 auto;
}

#toTop {
    position: fixed;
    right: 2rem;
    bottom: 5rem;
    width: 3rem;
    height: 3rem;
    font-size: 2.66rem;
    line-height: 2.4rem;
    color: rgba(0, 60, 60, 1);
    border-radius: 50%;
    padding: .2rem;
    z-index: 200;
    text-align: center;
    border: 2px solid rgba(0, 60, 60, 1);
    transform: rotate(90deg);
    font-weight: 600;
    opacity: .66;
    cursor: pointer;
    transition: .5s;
}
@media (max-width: 1280px) {
    #toTop {
        width: calc(2rem + (3 - 2) * ((100vw - 20rem) / (80 - 20)));
        height: calc(2rem + (3 - 2) * ((100vw - 20rem) / (80 - 20)));
        font-size: calc(1.66rem + (2.66 - 1.66) * ((100vw - 20rem) / (80 - 20)));
        line-height: calc(1.7rem + (2.4 - 1.7) * ((100vw - 20rem) / (80 - 20)));
        padding: calc(0rem + (.2 - 0) * ((100vw - 20rem) / (80 - 20)));
        bottom: calc(2rem + (5 - 2) * ((100vw - 20rem) / (80 - 20)));
    }
}

.map {
    width: 100%;
}

.map img {
    width: 100%;
}

.copyright {
    width: 100%;
    padding: .33rem 0;
    text-align: center;
    background-color: rgba(0, 0, 0, .8);
}

.copyright a {
    color: rgba(255, 255, 255, .66);
    font-size: 1rem;
    transition: .5s;
}
@media (max-width: 1280px) {
    .copyright a {
        font-size: calc(.8rem + (1 - .8) * ((100vw - 20rem) / (80 - 20)));
    }
}

.copyright a:hover {
    color: rgba(255, 255, 255, 1);
}

.ancor {
    position: fixed;
    width: 1px;
    height: 1px;
    left: 0;
    top: 0;
    opacity: 0;
}

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
    top: 0;
    left: 0;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto ;
    overflow-x: hidden;
    transition: .5s;
}

.popup:target {
    opacity: 1;
    visibility: visible;
}

.popup:target .popup__content {
    opacity: 1;
    transform: translateY(0);
}

.popup__area {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: default;
}

.popup__body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 1rem;
}

.popup__content {
    background-color: rgba(255, 255, 255, 1);
    color: rgba(0, 0, 0, 1);
    max-width: 50%;
    padding: 2rem;
    position: relative;
    opacity: 0;
    transition: .5s;
    transform: translateY(-100%);
}

.popup__title {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.popup__close {
    font-size: 2rem;
    position: absolute;
    right: 1rem;
    top: .66rem;
    text-decoration: none;
    font-weight: 600;
    transition: .5s;
    color: rgba(0, 0, 0, .6);
}

.popup__close:hover {
    color: rgba(0, 0, 0, 1);
}